@import url('https://fonts.googleapis.com/css2?family=Maven+Pro:wght@400;500;600;700;800;900&display=swap');
*{
    font-family: 'Maven Pro', sans-serif;
}

body{
    margin: 0;
    overflow: hidden;
}

#container{
    width: 100vw;
    height: 100vh;
    display: flex;
}

.left-side{
    width: 50%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}


.right-side{
    width: 50%;
    height: 100%;
}

.right-side img{
    width: 100%;
    height: 100%;
}


.login-form h1{
    text-align: center;
    /* color: #fff; */
}

.login-form{
    width: 470px;
    height: 500px;
    /* background-color: #FB771A; */
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
    /* box-shadow: 1px 1px #7b3300; */
}


.login-info{
    width: 90%;
    height: 90%;
    /* background-color: white; */
}

.login-info .user-name{
    width: 100%;
    height: auto;
    margin: 0 auto;
}

.login-info .password{
    width: 100%;
    height: auto;
    margin: 0 auto;
    margin-top: 30px;
}

.login-info input{
    width: 95%;
    padding: 13px 0;
    border: 1px solid rgb(194, 194, 194);
    box-shadow: 1px 1px rgb(213, 213, 213);
    border-radius: 5px;
    padding-left: 15px;
    color: rgb(95, 95, 95);
    font-size: medium;
}

.login-info p{
    font-weight: 450;
    font-size: large;
    /* color: #fff; */
}

.login-info input:focus{
    /* border: 0 !important; */
    outline: none;
}

.login-info input:hover{
    background-color: rgb(241, 241, 241);
}

.bottom{
    width: 99%;
    height: auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.remember{
    display: flex;
    width: 50%;
    height: auto;
    align-items: center;
    column-gap: 10px;
}


.remember input{
    width: 15px;
    height: 15px;
    margin: 0 !important;
    accent-color: #FB771A;
}

.forgot-password a{
    text-decoration: none !important;
    color: black;
    font-size: large;
}

.forgot-password a:hover{
    color: rgb(131, 131, 131);
}

.login-info button{
    margin-top: 25px;
    padding: 13px 0;
    width: 99%;
    border-radius: 5px;
    background-color: #FB771A;
    color: #fff;
    border: none;
    font-size: medium;
}

.login-info button:hover{
    background-color: rgb(255, 128, 0);
    cursor: pointer;
}

.login-info input::placeholder{
    font-size: medium;
}